body {
    background: lightgrey;
    padding: 10px;
    text-align: center;
    font-family: Verdana;
}
#advices {
    background: white;
    border-radius: 5px;
    margin: 5px auto;
    max-width: 95%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    min-height: 60%;
    color: #293d3d;
}
h3, label {
    color: white;
}
button {
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5em;
    font-size: medium;
}
input {
    border-radius: 5px;
    padding: 0.5em;
}
form {
    margin: 1rem;
}
#kbuttons {
    display: inline;
}